@import-normalize;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #000;
  --main-color: #fff;
  --secondary-color: #eae8e8;
  --ternary-color: #5b577e;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}


